<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <table border="3">
        <tr>
            <th>Mark</th>
            <th>Model</th>
            <th>Power</th>
        </tr>
         <tr th:fild  th:each="car: ${cars}">
             <td th:text="${car.mark}">Mark</td>
             <td th:text="${car.model}">Model</td>
             <td th:text="${car.power}">Power</td>
         </tr>
    </table>
</body>
</html>